langchain
qdrant-client
sentence-transformers
streamlit
huggingface_hub
langchain-community
langchain-huggingface
libmagic
unstructured[md]
uv
python-dotenv
huggingface-cli
presidio-analyzer
presidio-anonymizer
llama-cpp-python